.App {
  text-align: center;
}

.App-header {
  background-color:rgb(12, 240, 190);
  height: 60px;
  padding: 20px;
  color: navy;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

